/* div{ 
    background-color: antiquewhite;
    color: blue;
    padding: 20px;
     we can use padding-left,padding right 
    border: 20px solid black;
    margin: 20px;

    
    text-align: justify;
    width: 60%;
    margin: auto;
     margin used to make in center,where width should be less than 100% 
}*/

/* div{
    background-color: aliceblue;
} */

.framediv{
    background-color: antiquewhite;
    background: url(https://picsum.photos/seed/picsum/200/300);
    border: 2px solid black;
    padding: 25px;
    background-size:cover;
    background-repeat: no-repeat;
    /*without no-repeat image will repeat again t the full border*/
}

table,tr,th,td{
    padding: 5px;
    background-color:aqua; 
    border: 1px solid black;   
}
th{
    background-color: chocolate;
}